.container {
  align-content: center;
  text-align: center;
}

#card {
  margin-top: 10%;
  padding: 5%;
}

#file {
  padding: 1%;
  align-items: center;
}

#type:hover {
  cursor: pointer;
  background-color: gray;
  color: white;
}

.file-input {
  display: none;
}

.pos {
  color: red;
}

.neg {
  color: goldenrod;
}
