<div class="container">
  <div class="card" id="card">
    <div class="row">
      <b><p>Enter your image</p></b>
    </div>
    <div class="row" style="margin-top: 20px">
      <div class="col-md-2"></div>
      <div class="card col-md-8" id="file">
        <form (ngSubmit)="onSubmit()">
          <div class="row">
            <input
              type="file"
              name="image"
              class="form-control fadeIn second"
              placeholder="choose your image"
              (change)="fileProgress($event)"
            />
          </div>
          <div class="row">
            <button
              type="submit"
              class="form-control btn btn-primary"
              style="width: 100px; margin: auto; margin-top: 20px"
            >
              Upload
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
