<div class="container">
  <div class="card" id="card">
    <div class="row">
      <b><p>Choose the test type</p></b>
    </div>
    <div class="row" style="margin-top: 20px">
      <div class="col-md-6">
        <div class="card" id="type" (click)="Xrays()">
          <p style="margin: auto">X-Rays</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card" id="type" (click)="Symptomes()">
          <p style="margin: auto">Symptomes</p>
        </div>
      </div>
    </div>
  </div>
</div>
